@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@400;500;800&display=swap');

body {
	margin: 0 auto 0 auto;
	counter-reset: section;
}

section {
	margin: 0 auto;
}

footer {
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	width: 1169px;
}


